/* Disable scrolling https://stackoverflow.com/questions/28411499/html-css-disable-scrolling-on-body/28411556 */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

* {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
    .panel-content {
        min-width: 100vw;
    }
}

.map-container {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.panel-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30vw;
    max-width: 400px;
    background: #f0f0f0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
}

.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

.hide {
    transform: translate3d(-100vw, 0, 0);
}

.panel-content .panel-main {
    padding: 1rem;
}

.panel-content .panel-top {
    height: 48px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.panel-content .panel-bottom {
    height: 48px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.panel-hide-btn {
    height: 100%;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .2);
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F5F5F5;
    cursor: pointer;
    text-align: left;
}

.panel-show-btn {
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F5F5F5;
    cursor: pointer;
    text-align: left;
}

.app-icon {
    padding: 1rem;
}