/* Disable scrolling https://stackoverflow.com/questions/28411499/html-css-disable-scrolling-on-body/28411556 */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
    .panel-content {
        min-width: 100vw;
    }
}

.map-container {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.panel-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 408px;
    background: #f0f0f0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
}

.show {
    transform: translate3d(0vw, 0, 0);
}

.hide {
    transform: translate3d(-410px, 0, 0);
}

.panel-content .panel-main {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.panel-content .panel-top {
    height: 48px;
    width: 100%;
    background: white;
    display: block;
    float: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.panel-content .panel-bottom {
    height: 48px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.panel-hide-btn {
    height: 100%;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .2);
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F5F5F5;
    cursor: pointer;
    text-align: left;
}

.panel-show-btn {
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F5F5F5;
    cursor: pointer;
    text-align: left;
}

.searchbar-input {
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-result-grid {
    list-style-type: none;
    width: 100%;
    max-height: 600px;
    padding: 0;
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
}

.search-result-grid ol {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
}

.search-result-grid li {
    max-width: 100%;
    background: white;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    border-top: .5px solid #f0f0f0;
}

.search-result-grid li:first-child {
    border-top: none;
}

.search-result-grid li:hover {
    background: #f0f0f0;
}

.search-result-grid li p {
    margin: 0;
    padding: 0;
}

.common-icon {
    padding: 1rem;
    color: #696969;
}

